# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/

# Archivos de configuración de VS Code e IDEs
.vscode/
.idea/

# Base de datos local temporal (opcional si no querés subir la DB de pruebas)
*.db-journal

# Archivos del sistema operativo
.DS_Store
Thumbs.db